/*@media screen and (max-width:900px) and (min-width:600px) {
  #gallery-card {
    width:50vw;
    height:40vh;
  }
}

@media screen and (max-width:900px) and (min-width:600px) {
  #gallery-card {
    width:50vw;
    height:40vh;
  }
}*/
