html {
  font-size: 14px;
  height: 100%;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 10 * ((100vw - 320px) / 680));
  }
}

@media screen and (max-width: 600px) {
  #gallery-card {
    width:84vw;
    height:40vh;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
  #gallery-card {
    width:23vw;
    height:40vh;
  }
  #gallery-block {
    height: 50vh;
    width: 30vw;
  }
}

@media screen and (max-width:900px) and (min-width:600px) {
  #gallery-card {
    width:50vw;
    height:40vh;
  }
}

@media screen and (max-width:900px) and (min-width:600px) {
  #gallery-card {
    width:50vw;
    height:40vh;
  }
}

/*Allows for horizontal div scrolling*/
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.card {
    display: inline-block;
    border: 1px solid black;
    height: 90vh;
    width: 90vw;
}

.card > h2 {
  margin-bottom: 0;
  text-align: center;
}

.profile-pic {
  height: 20%;
}

p {
  margin: 0;
  height: 100%;
  width: 100%;
  white-space: normal;
}

.profile-description {
  height: 20%;
  white-space: nowrap;
  overflow-wrap:
}

.profile-text {

}

.profile-gallery {
  height: 45vh;
}

.gallery-wrapper {
  height: 90%;
}

.gallery-card {
  height: 35vh;
  width: 20vw;
  border: 1px solid black;
  margin: 0 2vw;
}

/*Allows for smooth horizontal scorrling on iOS*/
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  background-color: black;
}

/*Removes scroll bar on webkit browsers*/
  ::-webkit-scrollbar {
    display: none;
}

.title-galleries-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.galleries-title {
  text-align: center;
  font-size: 5vh;
}

.galleries-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.gallery-block {
  border: 1px solid black;
  height: 40vh;
  width: 70vw;
  margin: 2vh;
}

.bg_colour {
  background-color: white;
}

footer {
  position: absolute;
  bottom: 0;
}
