html {
  font-size: 12px;
  height: 100%;
  font-family: 'Alegreya';
  background-color: black;
}

@media screen and (min-width: 320px) {
  /*index.html styling*/
  html {
    font-size: calc(5.5vw + 10 * ((100vw - 320px) / 680));
  }
  h1 {
    font-size: calc(11vw + 10 * ((100vw - 320px) / 680));
  }

  h2 {
    font-size: calc(5.5vw + 10 * ((100vw - 320px) / 680));
  }

  h3 {
    font-size: calc(6.5vw + 10 * ((100vw - 320px) / 680));
  }

  #describe {
    padding: 16vh 0 10vh 0;
  }

  #h2 {
    margin: 2vh 0;
  }

  #main_title {
    padding-bottom: 14vh;
    padding-top: 14vh;
  }

  #contact {
    font-size: 2.5vh;
  }

  footer {
    font-size: 2vh;
  }

/*learn_more.html styling*/
  #learn_more_quote {
    min-height:2vh;
    margin-top: 0;
  }

  .font_adj_mob {
    font-size: 2vh !important;
  }


}
@media screen and (max-width: 420px){
  .pic_block {
    padding: 0 3vw 0vw 3vw!important;
    margin: 25vw 0 15vw 0 !important;
  }

  .text_body {
    padding: 0 0 10vw 0 !important;
    margin: 0 5vw 0 5vw !important;
    border-bottom: 1px solid #E4599A;
  }

  #no_border {
    border: none;
  }

  .learn_image {
    background-size: 120vh    !important;
    background-position: -13vh 0vh   !important;
  }

  /*top header for galleries*/

    .cof_image {
      background-size: 162vw    !important;
      background-position: -17vh -0vh    !important;
    }

    .com_image {
      background-size: 200vw    !important;
      background-position: -25vh 0vh    !important;
    }

    .work_image {
      background-size: 180vw    !important;
      background-position: 70vh -41vh    !important;
    }

    .party_image {
      background-size: 200vw    !important;
      background-position: 70vh 0vh    !important;
    }

    .movie_image {
      background-size: 180vw    !important;
      background-position: 0vh 0vh    !important;
    }

    .fav_image {
      background-size: 185vw    !important;
      background-position: 0 0vh    !important;
    }


  /*performance.html bg image*/
    .perf_image {
      background-size: 200vw    !important;
      background-position: 87vh 0vh   !important;
    }
}

@media screen and (max-width: 800px){
  .gal_name {
    opacity: 1 !important;
  }

  .gallery_banner {
    position: relative;
    min-height: 35vh;
  }

  .gallery_symbols {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .fix-search {
      bottom: auto;
      align-items: flex-start   !important;
      position: fixed   !important;
      top: 0vw    !important;
      z-index: 2;
      background-color: rgb(0,0,0, 0.8) !important;
    }

  .top_icon {
    color: black  !important;
  }

  .top_home {
    font-weight: 900;
  }

  .pic_block {
    padding: 0 3vw 0vw 3vw!important;
    margin: 25vw 0 15vw 0 !important;
  }

  .text_body {
    padding: 0 0 10vw 0 !important;
    margin: 0 5vw 0 5vw !important;
    border-bottom: 1px solid #E4599A;
  }

  .text_body p {
    line-height: 3vh  !important;
    word-spacing: 0.1em !important;
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: calc(2.6vh + 10 * ((100vw - 320px) / 680));
  }
  h1 {
    font-size: calc(7vh + 10 * ((100vw - 320px) / 680));
  }

  h2 {
    font-size: 6.5vw;
  }

  h3 {
    font-size: calc(5vw + 10 * ((100vw - 320px) / 680));
  }

  #describe {
    padding: 14.5vh 0;
  }

  #h2 {
    margin: 2vh 0;
  }

  #main_title {
    padding-bottom: 14vh;
    padding-top: 14vh;
  }

  #contact {
    font-size: 2.5vh;
  }

  footer {
    font-size: 2vh;
  }
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: calc(3vw + 10 * ((100vw - 320px) / 680))
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: calc(1vw + 10 * ((100vw - 320px) / 680))
  }
  h1 {
    font-size: calc(4vw + 10 * ((100vw - 320px) / 680));
  }
  h2 {
    font-size: calc(1vw + 10 * ((100vw - 320px) / 680));
  }
  h3 {
    font-size: calc(10px + 10 * ((100vw - 320px) / 680));
  }
  #describe {
    padding: 3.5vw 0;
  }
/*learn_more.html styling*/
  #learn_more_quote {
    padding: 3vw;
  }
  .font_adj_lrg {
    font-size: 2.5vh    !important;
  }

  .text_body {
    max-width: 50vw;
  }
  .fav_text_body_es{
    max-width: 28vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_em{
    max-width: 26vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_isa{
    max-width: 25vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_jia{
    max-width: 35vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_sam{
    max-width: 39vw   !important;
    margin: 5vw 0     !important;
  }


  .fav_text_body_kat{
    max-width: 22vw   !important;
    margin: 5vw 0     !important;
  }


  .fav_text_body_jo{
    max-width: 39vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_kons{
    max-width: 39vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_pam{
    max-width: 39vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_ning{
    max-width: 27vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_rey{
    max-width: 27vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_pd{
    max-width: 23vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_steve{
    max-width: 28vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_text_body_val{
    max-width: 25vw   !important;
    margin: 5vw 0     !important;
  }

  .fav_para {
    margin: 0 auto    !important;
    font-style: italic  !important;
  }

  .cof_image {
    background-size: 130vw;
    background-position: -8vh -38vh;
  }

  .com_image {
    background-size: 160vw;
    background-position: -104vh -39vh;
  }

  .work_image {
    background-size: 180vw;
    background-position: -20vh -41vh;
  }

  .party_image {
    background-size: 200vw;
    background-position: -139vh -43vh;
  }

  .movie_image {
    background-size: 160vw;
    background-position: -2vh -39vh;
  }

  .fav_image {
    background-size: 150vw;
    background-position: 0 -75vh;
  }


/*performance.html bg image*/
  .perf_image {
    background-size: 100vw;
    background-position: 0 -3vh;
  }

/*learn_more.html bg image*/
.learn_image {
      background-size: 225vw;
      background-position: -26vw 79vh;
    }
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

section {
  text-align: center;
  /* flex: 0.5; */
}

h1 {
  font-family: Alegreya, serif;
}

h1 span {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  border-radius: 15px;
  font-family: Alegreya, serif;
}



.main_button {
  padding: 1vh 0;
}

.main_button h2 {
  margin: 4vh 0;
}

.main_button h2 a {
  border: 1px solid transparent;
}

.main_button h2 a:hover {
  border: 1px solid #a77550;
}

.main_title {
  padding-bottom: 18vh;
  padding-top: 18vh;
}

.total_title {
  display: flex;
  flex-direction: column;
}

.main_title h1 {
  margin: 0;
}

.gallery_title h2 {
  margin: 0;
  color: white;
}


.describe {
  display: inline-block;
  border-top: 4px solid #a77550;
  max-width: 80vw;
}

.describe p {
  color: white;
  font-weight: 500;
  font-style: italic;
}

.btn {
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Alegreya', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #a77550;
  border-radius: 300px;
  font-weight: 700;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
}

.banner {
  background-image: url("Media/header_pic.jpg");
  background-size: contain;
  flex: 1;
  justify-content: center;
}

.gallery_banner {
  flex: 1;
  justify-content: center;
}

.main_galleries {
  flex: 1;
  justify-content: center;
  background-color: black;
  padding-top: 3vw;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 5vh;
  align-items: center;
}

.pic_block {
  padding: 1.5vw 3vw 1.5vw 3vw;
  position: relative;
  margin: 10px;
}

.pic_block h3 {
  position: absolute;
  top: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #a77550;
  font-weight: 500;
  font-style: italic;
  padding: 0 5px;
}

/*use in conjunction with :hover below.gal_name {
  opacity: 0;
}
*/

/*Make text show on hover
.pic_block:hover > .gal_name {
  opacity: 1;
  transition: all ease 0.8s;
}
*/

footer {
  margin-top: 10vh;
  background-color: black;
  border-top: 1px solid #a77550;
  color: white;
  font-family: Arial;
  text-align: center;
  position: relative;
}

.copyright {
  line-height: 1.7vh;
  padding: 0 0 2em 2em;
  left: 0;
  text-align: left;
}

.contact {
  padding: 4em 0 3em 0;
  line-height: 1.7em;
  justify-content: center;
}

.contact a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.contact a {
  text-decoration: none;
  color: white;
}


/*Learn_more.html*/
  .text_body p {
    color: white;
    font-family: Arial;
    text-align: left;
    line-height: 4vh;
  }

  .text_body {
    padding: 0 5vw;
    display: inline-block;
  }

  /*galleries.html*/
  .gallery_question {
    color: #a77550;
  }

.gallery_symbols {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(0,0,0, 0.4);
    padding: 1.2vw 0;
}

  .fa {
    color: #a77550;
  }

  .symbol {
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
  }

  .symbol:hover {
    border: 2px solid transparent;
    color: white;
  }


  .act_cof_colour {
    background-color: #004489;
    color: black;
  }
  .act_cof_colour:hover {
    background-color: #004489;
    color: black;
  }

  .act_cof_title_colour {
    color: #004489;
    border-top-color: #004489;
  }


  .fav_colour:hover {
    background-color: #E4599A;
  }


  .cof_colour:hover {
    background-color: #004489;
    color: black;
  }


  .com_colour:hover {
    background-color: #66FCF1;
    color: black;
  }


  .work_colour:hover {
    background-color: #F13C20;
    color: black;
  }


  .party_colour:hover {
    background-color: #565656;
    color: white;
  }


  .film_colour:hover {
    background-color: #D79922;
    color: black;
  }


  .act_com_colour {
    background-color: #66FCF1;
    color: black;
  }
  .act_com_colour:hover {
    background-color: #66FCF1;
    color: black;
  }

  .act_com_title_colour {
    color: #66FCF1;
    border-top-color: #66FCF1;
    border-bottom-color: #66FCF1;
  }


  .act_wrk_colour {
    background-color: #F13C20;
    color: black;
  }
  .act_wrk_colour:hover {
    background-color: #F13C20;
    color: black;
  }

  .act_wrk_title_colour {
    color: #F13C20;
    border-top-color: #F13C20;
    border-bottom-color: #F13C20;
  }


  .act_party_colour {
    background-color: #565656;
    color: black;
  }
  .act_party_colour:hover {
    background-color: #565656;
    color: black;
  }

  .act_party_title_colour {
    color: #565656;
    border-top-color: #565656;
    border-bottom-color: #565656;
  }


  .act_film_colour {
    background-color: #D79922;;
    color: black;
  }
  .act_film_colour:hover {
    background-color: #D79922;;
    color: black;
  }

  .act_film_title_colour {
    color: #D79922;;
    border-top-color: #D79922;
    border-bottom-color: #D79922;
  }


  .act_fav_colour {
    background-color: #E4599A;
    color: black;
  }
  .act_fav_colour:hover {
    background-color: #E4599A;
    color: black;
  }

  .act_fav_title_colour {
    color: #E4599A;
    border-top-color: #E4599A;
    border-bottom-color: #E4599A;
  }





  /*colouring of border following main quote*/
  .bottom_border_colour_f {
    border-bottom: 1px solid  #E4599A;
  }

  .bottom_border_colour_c {
    border-bottom: 1px solid  #004489;
  }

  .bottom_border_colour_cm {
    border-bottom: 1px solid  #66FCF1;
  }

  .bottom_border_colour_w {
    border-bottom: 1px solid  #F13C20;
  }

  .bottom_border_colour_p {
    border-bottom: 1px solid  #565656;
  }

  .bottom_border_colour_m {
    border-bottom: 1px solid  #D79922;
  }


  .favpic_describe {
    vertical-align: top;
    display: inline-block;
  }

  .pic_block {
    display: inline-block;
  }

/*top header for galleries*/

  .cof_image {
    background-image: url("Media/header_coffee_small.jpg");
    background-size: 100vw;
    background-position: 0 -3vh;
  }

  .com_image {
    background-image: url("Media/header_commute.jpg");
    background-size: 100vw;
    background-position: 0 -27vh;
  }

  .work_image {
    background-image: url("Media/header_work.jpg");
    background-size: 100vw;
    background-position: 0 -27vh;
  }

  .party_image {
    background-image: url("Media/header_party.jpg");
    background-size: 100vw;
    background-position: 0 -5vh;
  }

  .movie_image {
    background-image: url("Media/header_movie.jpg");
    background-size: 100vw;
    background-position: 0 -3vh;
  }

  .fav_image {
    background-image: url("Media/header_fav.jpg");
    background-size: 100vw;
    background-position: 0 -27vh;
  }


/*performance.html bg image*/
  .perf_image {
    background-image: url("Media/header_perform_new.jpg");
    background-size: 100vw;
    background-position: 0 -3vh;
  }

.centre {
  text-align: center    !important;
}

#underline {
  text-decoration: underline;
}

.faded_bg {
  background-image: linear-gradient(rgb(250,0,250,0.1), rgb(80,141,209, 0.8));
  padding: 2vw 5vw 5vw 5vw;
  border-radius: 10px;
}

/*learn_more.html bg image*/
.learn_image {
  background-image: url("Media/header_about.jpg");
  background-size: 100vw;
  background-position: 0vw 57vh;
}

  .stretched_bg {
    padding-bottom: 4vw;
  }


  /*footer icons*/
  .white_icon {
    color: white;
  }
