html {
  font-size: 12px;
  height: 100%;
  font-family: 'Alegreya';
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(12px + 10 * ((100vw - 320px) / 680));
  }
  h1 {
    font-size: calc(55px + 10 * ((100vw - 320px) / 680));
  }

  h2 {
    font-size: calc(15px + 10 * ((100vw - 320px) / 680));
  }

  .pic_block {

  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size:25px;
  }
  h1 {
    font-size: calc(80px + 10 * ((100vw - 320px) / 680));
  }
  h2 {
    font-size: calc(25px + 10 * ((100vw - 320px) / 680));
  }
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

section {
  text-align: center;
  /* flex: 0.5; */
}

h1 {
  font-family: 'Alegreya', serif;
}

h1 span {
  background: rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  border-radius: 15px;
}

.main_button {
  padding: 1vh 0;
}

.main_title {
  padding-bottom: 2vh;
  padding-top: 6vh;
}

.total_title {
  display: flex;
  flex-direction: column;
}

.main_title h1 {
  margin: 0;
}

.gallery_title h2 {
  margin: 0;
  color: white;
}


.describe {
  display: inline-block;
  border-top: 4px solid #a77550;
}

.describe p {
  color: white;
  font-weight: 500;
  font-style: italic;
}

.btn {
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Alegreya', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  color: #a77550;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  text-decoration: none;
}

.banner {
  background-image: url("media/header_pic.jpg");
  background-size: contain;
  flex: 1;
  justify-content: center;
}

.main_galleries {
  flex: 1;
  justify-content: center;
  background-color: black;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.pic_block {
  position: relative;
  margin: 10px;
}
