/*Gallery Colours*/
$favColor: #E4599A;
$cofColor: #004489;
$comColor: #66FCF1;
$workColor: #F13C20;
$partyColor: #565656;
$filmColor: #D79922;

$favTitleColor: #E4599A;
$cofTitleColor: #004489;
$comTitleColor: #66FCF1;
$workTitleColor: #F13C20;
$partyTitleColor: #565656;
$filmTitleColor: #D79922;
$bioTitleColor: #229ED7;

$bgColor: #181818;

/*Bio page colours*/
$bioMainColor: #229ED7;