@import './variables';
@import './_galleryTitleAreas';
@import './iconBar';
@import './galleries';
@import './footer';

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    background-color: #181818;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

/* IE 10+ */
/* WebKit */
html ::-webkit-scrollbar {
    width: 0;
    height: 0;
}


body {
    margin: 0;
    transition: all 0.5s ease;
}


  /*gallery intro area */
  .gallery_title_area {
    padding-left: 5vw;
    line-height: 2.5em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
  }


.large_screen_colour {
    color: #004489;
}


#act_colour {
    color: black;
}


/*Performance page*/
.text_body h3 {
    text-align: center;
    color: hsla(0,0%,100%,0.9);
    font-size: 1.5em;
}

.text_body h4 {
    color: hsla(0,0%,100%,0.9);
    text-emphasis: bold;
}

/*Performance and about page*/
.reference {
    font-size: 0.8em !important;
}

mark { background-color: #D79922;}

/*Bio Page*/
.team_members_container {
    padding-top: 2em;
    display: grid;
    color: hsla(0,0%,100%,86%);
    align-items: center;
    margin-bottom: 7em;
}

.val_bio_pic {
    border-radius: 100%;
    border: 0.3em solid $bioMainColor;
    margin: 1em 0;
}

.val_member_info {
    padding-left: 2em;
}

.val_bio_name h3, .rey_bio_name h3 {
    font-size: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
}

.val_bio_title h4 {
    color: $bioMainColor;
    font-size: 1.8em;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.val_bio_describe, .rey_bio_describe {
    font-weight: 500;
    text-align: left;
}


.rey_bio_describe a {
    text-decoration: none;
    color: $bioMainColor;
}

.rey_bio_describe a:hover{
    text-decoration: underline;
    text-decoration-color: $bioMainColor;
}



.rey_bio_pic {
    @extend .val_bio_pic;
    border: 0.3em solid $bioMainColor;
}

.rey_member_info {
    padding-left: 2em;
}

.rey_bio_title h4 {
    font-size: 1.8em;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: $bioMainColor;
}


.mobile_visible {
    display: none;
}